@charset "UTF-8";

body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: blue;
    background-color: cornflowerblue;
}
h2 {
    color: blueviolet;
}

